.hero-image
  height: 100vh
  position: relative
  background-size: cover
  overflow: hidden
  background-position: center
  background-repeat: no-repeat

  +media-breakpoint-down(md)
    height: 50vh

  .container
    position: absolute
    bottom: 40px
    right: 60px

    h1
      color: white
      font-size: 350%
      text-shadow: 0px 0px 6px rgba($color-smoky-black,0.74)

      +media-breakpoint-down(md)
        font-size: 200%

      +media-breakpoint-down(xs)
        font-size: 130%

      span.me
        color: $color-pale-green
        text-shadow: 0px 0px 6px rgba($color-smoky-black,0.74)
