.posts
  display: flex;
  flex-direction: row
  margin-left: 20px
  margin-right: 20px
  margin-top: 40px
  margin-bottom: 40px
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-around

  +media-breakpoint-down(sm)
    flex-direction: column

.post
  margin-top: 10px
  margin-bottom: 10px
  z-index: 3
  margin-right: 10px
  margin-left: 10px
  height: 400px
  width: 300px
  position: relative
  transition: all .2s ease-in-out

  +media-breakpoint-down(sm)
    height: 150px
    flex: 1
    width: auto
    margin-top: 10px

  &:hover
    transform: scale(1.02)

    .post__overlay
      opacity: 0

    .post__title
      height: 100px
    .post__title-main
      font-size: 30px

  img
    z-index: 0
    height: 400px
    width: 300px
    position: absolute
    top: 0

    +media-breakpoint-down(sm)
      height: 150px
      width: 100%
      object-fit: cover

  &__header
    z-index: 2
    position: absolute
    top: 3px
    right: 0
    left: 0
    text-align: center

    small
      color: white
      font-size: 11px
      font-weight: 600
      text-align: center

  &__overlay
    transition: all .4s ease-in-out
    z-index: 1
    background: $color-gunmetal
    opacity: 0.3
    height: 70px
    bottom: 0
    width: 100%
    position: absolute

    +media-breakpoint-down(sm)
      opacity: 0

  &__title
    transition: all .5s ease-in-out
    text-align: center
    z-index: 2
    position: absolute
    bottom: 0
    width: 100%
    height: 70px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    &-main
      font-family: 'Rubik'
      transition: all .5s ease-in-out
      flex: 1
      font-size: 24px
      font-weight: 600
      color: white

    &-mnpm
      flex: 1
      font-size: 12px
      font-weight: 500
      opacity: 0.7
      color: white

  &-gallery
    &__image
      cursor: pointer
      background: $color-gunmetal

      &-wrapper
        margin: 10px
        vertical-align: middle
